/* ---------- general ---------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  width: 95vw;
  gap: 10px;
}

.hero {
  justify-content: center;
  align-self: center;
  width: 95vw;
  max-height: 20vh;
  margin-top: 20px;
}

.hero--image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 8px;
  width: 95vw;
  max-height: 20vh;
  object-fit: cover;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.path {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #BBBBBB;
  text-align: start;
  position: -webkit-sticky;
}

.item__gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 18rem;
  gap: 10px;
}

.item__gallery__main {
  display: flex;
  flex-direction: column; 
}

.item__gallery__main--image {
  border: 1px solid #BBBBBB;
  border-radius: 8px;
  width: 18rem;
  gap: 10px;
}

.item__gallery__mini {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 18rem;
}

.item__gallery__mini-card {
  display: flex;
}

.item__gallery__mini-card--image {
  border: 1px solid #BBBBBB;
  border-radius: 8px;
  width: 5.6rem;
  height: 5.6rem;
}

.item__data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.item__data--off {
  background: #E9116C;
  border-radius: 8px;
  width: 64px;
  height: 24px;
  left: 16px;
  top: 744px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  align-self: flex-start;
}

.item__data--name {
  margin: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #464646;
  text-align: start;
  align-self: flex-start;
}

.item__data--old-price {
  margin: 4px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #BBBBBB;
  text-align: start;
  align-self: flex-start;
}

.item__data--price {
  font-size: 1.5rem;
  margin: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #464646;
  text-align: start;
  align-self: flex-start;
}

.item__data--payment-conditions {
  margin: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #BBBBBB;
  text-align: start;
  align-self: flex-start;
}

.item__shipping {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item__shipping--break {
  width: 95vw;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #BBBBBB;
}

.item__shipping--title {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #AAAAAA;
}

.item__shipping--nocep {
  margin-top: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #70A9FF;
}

.item__shipping__form {
  display: flex;
  justify-content: center;
}

.item__shipping__form__cep--box {
  width: 12rem;
  height: 2.268rem;
  left: 1rem;
  top: 64.638rem;
  background: #FFFFFF;
  border: 1px solid #70A9FF;
  border-radius: 8px 0px 0px 8px;
}

.item__shipping__form__cep--button {
  width: 70px;
  height: 36px;
  left: 274px;
  top: 1026px;
  background: #70A9FF;
  border: 1px solid #70A9FF;
  border-radius: 0px 8px 8px 0px;
  color: #FFFFFF;
  cursor: pointer;
}

.item__buying {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.item__buying__quantity {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 1rem;
}

.item__buying__quantity--label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #BBBBBB;
}

.item__buying__quantity-box {
  width: 2rem;
  height: 2rem;
  background: #F5F5F5;
  border: 1px solid #70A9FF;
  border-radius: 2px;
}

.item__buying__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.item__buying--buy-button {
  height: 36px;
  width: 17rem;
  background: #70A9FF;
  border: 1px solid #70A9FF;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.item__buying--cart-button {
  height: 36px;
  width: 17rem;
  background: #FFFFFF;
  border: 1px solid #70A9FF;
  border-radius: 8px;
  color: #70A9FF;
  cursor: pointer;
}

.item__buying--suggestion {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #AAAAAA;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.description__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #464646;
  margin: 0;
  text-align: start;
  margin-bottom: 10px;
}

.description__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  text-align: left;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  align-self: center;
  width: 100vw;
  padding-top: 1rem;
}

.showcase__more-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase__more-products--text {
  font-weight: 700;
  line-height: 19px; 
  color: #464646;
  padding-left: 16px;
}

.showcase__products__container {
  padding: 13px 0 31px 0;
}

/* ---------- 600px ---------- */

@media (min-width: 600px) {
  .item {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .item__shipping__form__cep--box {
    width: 12rem;
  }

  .item__shipping--break {
    width: 16rem;
  }
}

/* ---------- 768px ---------- */

@media (min-width: 768px) {
  .item__shipping__form__cep--box {
    width: 16rem;
  }

  .item__shipping--break {
    width: 20rem;
  }

  .item__buying__buttons {
    flex-direction: row-reverse;
  }

  .item__buying--buy-button {
    width: 11rem;
  }
  
  .item__buying--cart-button {
    width: 11rem;
  }

}

@media (min-width: 860px) {
  .main {
    width: 860px;
  }

  .item {
    width: 860px;
  }
}

/* ---------- 1000px ---------- */

@media (min-width: 1000px) {
  .item {
    gap: 30px;
  }

  .item__shipping__form__cep--box {
    width: 14rem;
  }

  .item__shipping--break {
    width: 37rem;
  }

  .item__buying--buy-button {
    width: 14rem;
  }
  
  .item__buying--cart-button {
    width: 14rem;
  }
}