<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public//styles/reset.css">
    <link rel="stylesheet" href="/public//styles/normalize.css">
    <link rel="stylesheet" href="/public//styles/footer.css">
    <link rel="stylesheet" href="/public//styles/style.css">

    <title>Disney Shop</title>
</head>

<body>
    <header>
        <!-- Inserir a marca, busca e navegação -->
    </header>
    <main>
        <section class="main-banner">
            <!-- Inserir aqui o banner rotativo -->
        </section>
        <section class="products">
            <!-- Inserir aqui o conteúdo principal da página -->
        </section>
        <section class="main-footer">
            <!-- Inserir aqui o rodapé de links/contato comum entre as páginas -->
        </section>
    </main>
    <footer>
        <p class="credit"><strong>DH Geek | <span id="year"></span></strong><br>
            <a href="https://www.linkedin.com/in/danilobatista/" target="_blank">Danilo Batista</a> |
            <a href="#" target="_blank">Renan Costa</a> |
            <a href="#" target="_blank">Renato Ramos Neto</a> |
            <a href="#" target="_blank">Anne Carine Bien Aime</a>
    </footer>
    <script src="/public/scripts/app.js"></script>
</body>

</html>