<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/normalize.css">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/main-banner.css">
    <link rel="stylesheet" href="/public/styles/footer.css">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="/public/styles/header.css">

    <title>Disney Shop</title>
</head>

<body>
    <header>
        <img class="logo" src="/public/images/brands/disney-logo.svg" alt="logo">
        <ul class="nav-bar">
            <li>
                <link href="#">Clássicos
            </li>
            <li>
                <link href="#">Marvel
            </li>
            <li>
                <link href="#">Princesas
            </li>
            <li>
                <link href="#">Star Wars
            </li>
        </ul>
        <button class="login-button" type="submit">Login</button>
        <button class="hamburguer-menu" type="submit"><img src="/public/images/menu.svg" alt="menu"></button>
        <div class="busca">
            <input type="text" placeholder="O que deseja encontrar ?">
            <button><img src="/public/images/lupa.svg"></button>
        </div>
    </header>
    <main>
        <section class="main-banner">
            <button class="main-banner__carrousel">
                <img class="main-banner__carrousel--arrow" src="/public/images/left-arrow.svg"
                    alt="Seta para esquerda indicando a direção no carrossel.">
            </button>
            <button class="main-banner__carrousel">
                <img class="main-banner__carrousel--arrow" src="/public/images/right-arrow.svg"
                    alt="Seta para direita indicando a direção no carrossel.">
            </button>
        </section>
        <section class="products">
            <!-- Inserir aqui o conteúdo principal da página -->
        </section>
        <section class="main-footer">
            <!-- Inserir aqui o rodapé de links/contato comum entre as páginas -->
        </section>
    </main>
    <footer>
        <p class="credit">Desenvolvido por <strong>DH Geek &bull; <span id="year"></span></strong><br>
            <a href="https://www.linkedin.com/in/danilobatista/" target="_blank">Danilo
                Batista</a> |
            <a href="#" target="_blank">Renan Costa</a> |
            <a href="https://www.linkedin.com/in/aliomar-lopes-neto/" target="_blank">Aliomar Lopes Neto</a> |
            <a href="#" target="_blank">Anne Carine Bien Aime</a>
        </p>
    </footer>
    <script src="/public/scripts/app.js"></script>
</body>

</html>