<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/styles/base/reset.css">
    <link rel="stylesheet" href="/public/styles/base/normalize.css">
    <link rel="stylesheet" href="/public/styles/base/variables.css">

    <link rel="stylesheet" href="/public/styles/partials/header.css">
    <link rel="stylesheet" href="/public/styles/partials/main-banner.css">
    <link rel="stylesheet" href="/public/styles/user/login.css">
    <link rel="stylesheet" href="/public/styles/partials/footer.css">

    <title>Bem-vindo! | Disney Brasil</title>
</head>

<body>
    <header>
        <img class="logo" src="/public/images/brands/disney-logo.svg" alt="logo">
        <ul class="nav-bar">
            <li>
                <link href="#">Clássicos
            </li>
            <li>
                <link href="#">Marvel
            </li>
            <li>
                <link href="#">Princesas
            </li>
            <li>
                <link href="#">Star Wars
            </li>
        </ul>
        <button class="login-button" type="submit">Login</button>
        <button class="hamburguer-menu" type="submit"><img src="/public/images/menu.svg" alt="menu"></button>
        <div class="busca">
            <input type="text" placeholder="O que deseja encontrar ?">
            <button><img src="/public/images/lupa.svg" alt="lupa"></button>
        </div>
    </header>

    <main>
        <section>
            <div class="main-login">
                <h2>Entrar</h2>
                <div class="main-login__form">
                    <form method="post">
                        <label>E-mail *
                            <input type="email" name="email" id="email">
                        </label>
                        <label>Senha *
                            <input type="password" name="password" id="password">
                        </label>
                        <div>
                            <div>
                                <label id="checkbox">Lembre-me
                                    <input type="checkbox" name="remember" id="remember">
                                </label>
                                <a id="tag-all" href="#">Perdeu sua senha?</a>
                            </div>
                            <a id="tag-tablet" href="#">Perdeu sua senha?</a>
                            <button>Acessar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main-login">
                <h2>Cadastrar</h2>
                <div class="main-login__form">
                    <form method="post">
                        <label>E-mail *
                            <input type="email" name="email" id="email">
                        </label>
                        <label>Senha *
                            <input type="password" name="password" id="password">
                        </label>

                        <div id="div-register">
                            <p>Seus dados pessoais serão usados para aprimorar a sua experiência em todo este site, para
                                gerenciar o acesso a sua conta e para outros propósitos, como descritos em nossa
                                política de privacidade</p>

                            <div id="div-button-register">
                                <button id="button-register">Cadastrar</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </section>
        <section class="main-footer">

        </section>
    </main>

    <footer class="copyright">
        <div class="copyright--software-house">
            <p>Desenvolvido por <strong>DH Geek | <span id="year"></span></strong></p>
        </div>
        <div class="copyright--authors">
            <a href="https://www.linkedin.com/in/danilobatista/" target="_blank">Danilo Batista</a> |
            <a href="https://github.com/RenanppCosta" target="_blank">Renan Costa</a> |
            <a href="https://www.linkedin.com/in/aliomar-lopes-neto/" target="_blank">Aliomar Lopes Neto</a> |
            <a href="https://github.com/Annefedy" target="_blank">Anne Carine Bien Aime</a>
        </div>
    </footer>

    <script src="/public/scripts/app.js"></script>
</body>

</html>