<footer class="copyright">
    <div class="copyright--software-house">
        <p>
            Desenvolvido por <strong>DH Geek | <span id="year"></span></strong>
        </p>
    </div>
    <div class="copyright--authors">
        <a href="https://www.linkedin.com/in/danilobatista/" target="_blank">Danilo Batista</a>
        |
        <a href="https://github.com/RenanppCosta" target="_blank">Renan Costa</a>
        |
        <a href="https://www.linkedin.com/in/aliomar-lopes-neto/" target="_blank">Aliomar Lopes Neto</a>
        |
        <a href="https://github.com/Annefedy" target="_blank">Anne Carine Bien Aime</a>
    </div>
</footer>
<script src="/public/scripts/app.js"></script>
<script src="/public/scripts/menu.js"></script>