<section class="main-footer">
    <fieldset class="payments">
        <legend class="payments__title">Formas de pagamento</legend>
        <div class="payments__methods">
            <img src="/public/images/brands/koin.webp" alt="Logotipo Koin." />
            <img src="/public/images/brands/pix.svg" alt="Logotipo Pix." />
            <img src="/public/images/brands/mastercard.svg" alt="Logotipo Mastercard." />
            <img src="/public/images/brands/boleto.svg" alt="Logotipo Boleto." />
            <img src="/public/images/brands/visa.svg" alt="Logotipo Visa." />
            <img src="/public/images/brands/ebanxpay.svg" alt="Logotipo EbanxPay." />
            <img src="/public/images/brands/paypal.svg" alt="Logotipo PayPal." />
            <img src="/public/images/brands/picpay.svg" alt="Logotipo PicPay." />
            <img src="/public/images/brands/american-express.svg" alt="Logotipo American Express." />
            <img src="/public/images/brands/elo.svg" alt="Logotipo Elo." />
            <img src="/public/images/brands/ame-digital.svg" alt="Logotipo Ame." />
            <img src="/public/images/brands/diners.svg" alt="Logotipo Diners." />
        </div>
    </fieldset>
    <fieldset class="security">
        <legend class="security__title">Segurança e Qualidade</legend>
        <div class="security_methods">
            <div class="security_methods--brands">
                <img src="/public/images/brands/google-safe-browsing.svg" alt="Logotipo Google Safe Browsing." />
            </div>
        </div>
    </fieldset>
</section>