<section class="main-banner" id="mainBanner">
    <button class="main-banner__carrousel">
        <img class="main-banner__carrousel--arrow" src="/public/images/left-arrow.svg"
            alt="Seta para esquerda indicando a direção no carrossel.">
    </button>
    <button class="main-banner__carrousel">
        <img class="main-banner__carrousel--arrow" src="/public/images/right-arrow.svg"
            alt="Seta para direita indicando a direção no carrossel.">
    </button>
</section>