<section class="main-footer">
    <fieldset class="payments">
        <legend class="payments__title">Formas de pagamento</legend>
        <div class="payments__methods">
            <img src="/public/images/brands/koin.webp" alt="Logotipo Koin." />
            <img src="/public/images/brands/pix.svg" alt="Logotipo Pix." />
            <img src="/public/images/brands/mastercard.svg" alt="Logotipo Mastercard." />
            <img src="/public/images/brands/boleto.svg" alt="Logotipo Boleto." />
            <img src="/public/images/brands/visa.svg" alt="Logotipo Visa." />
            <img src="/public/images/brands/ebanxpay.svg" alt="Logotipo EbanxPay." />
            <img src="/public/images/brands/paypal.svg" alt="Logotipo PayPal." />
            <img src="/public/images/brands/picpay.svg" alt="Logotipo PicPay." />
            <img src="/public/images/brands/american-express.svg" alt="Logotipo American Express." />
            <img src="/public/images/brands/elo.svg" alt="Logotipo Elo." />
            <img src="/public/images/brands/ame-digital.svg" alt="Logotipo Ame." />
            <img src="/public/images/brands/diners.svg" alt="Logotipo Diners." />
        </div>
    </fieldset>
    <fieldset class="security">
        <legend class="security__title">Segurança e Qualidade</legend>
        <div class="security_methods">
            <div class="security_methods--brands">
                <img src="/public/images/brands/google-safe-browsing.svg" alt="Logotipo Google Safe Browsing." />
            </div>
        </div>
    </fieldset>
    <section class="contact-info">
        <div class="contact-info__menu">
            <a href="/"><img class="contact-info__menu--brand" src="/public/images/brands/disney-logo.svg"
                    alt="logo" /></a>
            <ul>
                <li>
                    <a href="/produtos/todos/classicos" />Clássicos
                </li>
                <li>
                    <a href="/produtos/todos/marvel" />Marvel
                </li>
                <li>
                    <a href="/produtos/todos/princesas" />Princesas
                </li>
                <li>
                    <a href="/produtos/todos/starwars" />Star Wars
                </li>
                <li>
                    <a href="#" />Login
                </li>
            </ul>
            <hr />
            <div>
                <form class="contact-info__form" action="https://api.staticforms.xyz/submit" method="POST">
                    <h3>Fale conosco</h3>
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" />
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" />
                    <label for="message">Deixe sua mensagem</label>
                    <textarea name="message" cols="30" rows="10" placeholder="Digite sua messagem">
        </textarea>
                    <button type="submit">Enviar</button>
                    <input type="hidden" name="accessKey" value="29cb2464-1e88-48c9-a397-964b06b19673" />
                    <input type="hidden" name="redirectTo" value="http://localhost:3333/" />
                </form>
            </div>
        </div>

        <div class="contact-info__copyright">
            <p class="contact-info__copyright--message">
                © Disney © Disney•Pixar © & ™ Lucasfilm LTD ©
                <span id="year"></span> MARVEL. Reservados todos os direitos,
                Disney Entertainment
            </p>
        </div>
    </section>
</section>