main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
}

@media(min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}

@media(min-width: 1024px) {
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}