@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@700&display=swap');

:root {
    --disney-blue: #0082F0;
    --disney-mediumblue: #5D9FCE;
    --disney-lightblue: #98C0DF;
    --disney-red: #AF1F22
    --disney-gray: #464646
    --disney-darkgray: #757575;
    --disney-mediumgray: #BBBBBB;
    --disney-lightgray: #F5F5F5;
    --disney-white: #FFFFFF;
}