.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    width: 100vw;
    margin-bottom: 10px;
    padding-bottom: 30px;
  
    background-color: var(--disney-mediumgray);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--disney-gray);
  }
  
  .footer__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 35vw;
  }
  
  .footer__nav--link {
    margin: 10px 0 10px 0;
    color: var(--disney-gray);
  
    transition: 0.6s;
  }
  
  .footer__nav--link:hover {
    text-decoration: underline;
  }
  
  .footer--break {
    display: flex;
    justify-content: center;
  
    width: 250px;
    height: 2px;
  
    margin: 15px auto 15px auto;
    
  
    background-color: var(--disney-mediumblue);
    border: 0;
  }
  
  .footer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer__form--title {
    font-size: 1rem;
  }
  
  .footer__form--label {
    margin-top: 1.2rem;
  }
  
  .footer__form--input {
    margin-top: 0.2rem;
    height: 32px;
    border: solid 2px var(--disney-mediumblue);
    background-color: var(--disney-lightgray);
    border-radius: 8px;
    padding: 5px;
  }
  
  .footer__form--textarea {
    margin-top: 0.5rem;
    width: 14rem;
    height: 100px;
    border: solid 2px var(--disney-mediumblue);
    background-color: var(--disney-lightgray);
    border-radius: 8px;
    padding: 5px;
  }
  
  .footer__form--button {
    margin-top: 1rem;
    width: 162px;
    height: 48px;
    border-radius: 8px;
    border-style: none;
    background-color: #70A9FF;
    font-weight: 700;
    color: var(--disney-white);
  }
  
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    width: 100vw;
    margin-top: 0;
  }
  
  .copyright__authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  
  .copyright__authors--link {
    padding: 0 4px;
  
    color: #464646;
    border: 2px solid transparent;
  }
  
  .copyright__authors--link:hover {
    border-bottom: 2px solid #464646;
  }
  
  @media(min-width: 480px) {
  
    .footer__header {
      margin-top: 20px;
    }
    
  }
  
  @media(min-width: 768px) {
  
    .footer {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
  
    .footer__header {
      width: 20vw;
    }
  
    .footer--break {
      display: none;
    }
  
    .footer__nav {
      justify-content: flex-start;
  
      width: 30vw;
      margin-top: 30px;
    }
  
    .footer__form {
      width: 30vw;
      margin-top: 30px;
    }
  }
  
  @media(min-width: 1024px) {
  
    .footer__header {
      align-items: flex-end;
    }
  
    .footer__nav {
      width: 20vw;
    }
  
    .footer__form {
      width: 40vw;
      align-items: flex-start;
    }
  
    .footer__form input {
      width: 25rem;
    }
  
    .footer__form textarea {
      width: 25rem;
    }
  
  }