.copyright {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 100%;
    height: 72px;

    font-family: 'Raleway', sans-serif;
    text-align: center;

    color: var(--disney-mediumgray);
}

.copyright--authors a {
    padding: 0 1em 0;

    font-size: small;
    text-decoration: none;
    color: var(--disney-mediumgray);
}