* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 124px;
	justify-content: space-around;
	align-items: center;
}

.nav-bar {
	display: none;
}

.logo {
	height: 46px;
	width: 106px;
}

.login-button {
	width: 70px;
	height: 40px;
	border-radius: 8px;
	border-style: none;
	background-color: #70A9FF;
	color: var(--disney-white);
	font-family: 'Raleway', sans-serif;
	display: none;
}

.cart-button{
	border: none;
	background-color: var(--disney-white);
	cursor: pointer;
}

.hamburguer-menu {
	border: none;
	outline: none;
	background-color: var(--disney-white);
	cursor: pointer;
}

.close-menu{
	border: none;
	background-color: var(--disney-white);
	cursor: pointer;
	display: none;
}

.busca {
	border: none;
	background-color: var(--disney-lightgray);
	border-radius: 20px;
	height: 40px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.busca input {
	border: none;
	outline: none;
	background-color: var(--disney-lightgray);
	border-radius: 20px;
	font-family: 'Raleway', sans-serif;
}

.busca button {
	border: none;
	outline: none;
	background-color: var(--disney-lightgray);
	border-radius: 20px;
}

#sidebar-menu{
	position: absolute;
	top: 64px;
	left: 0;
	width: 232px;
	height: 460px;
	padding: 20px;
	border: 1.5px solid #70A9FF;
	border-left: none;
    border-radius: 0px 8px 8px 0px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}

#sidebar-menu button{
	width: 90%;
	height: 40px;
	border-radius: 8px;
	border-style: none;
	background-color: #70A9FF;
	color: var(--disney-white);
	font-family: 'Raleway', sans-serif;
}

#sidebar-menu li{
	list-style-type: none;
	font-size: 16px;
	font-weight: 700;
	font-family: "Roboto";
	padding: 5px;
}

#sidebar-menu a{
	font-weight: 700;
	font-family: "Roboto";
}

.separated-color__menu{
	border: 0.75px solid #70A9FF;
	width: 100%;
	margin: 20px 0px;
}

@media(min-width: 480px) {
	header {
		height: 82px;
	}

	.logo {
		order: 1;
	}

	.busca {
		order: 2;
		width: 50%;
	}

	.cart-button {
		order: 4;
	}

	#sidebar-menu{
		top: 82px;
	}

	.hamburguer-menu {
		order: 0;
	}
}

@media(min-width: 1024px) {
	.nav-bar {
		display: flex;
		order: 2;
		list-style-type: none;
	}

	header{
		padding: 20px;
		justify-content: space-evenly;
	}

	.logo{
		width: 176px;
        height: 73px;
	}

	.nav-bar li {
		padding: 0 10px;
		font-size: 24px;
		color:  #464646;
		line-height: 28px;
		font-family: "Roboto", sans-serif;
	}

	.nav-bar li a{
		color: #464646;
	}

	.hamburguer-menu {
		display: none;
	}

	.busca {
		width: 22%;
	}

	.cart-button{
		display: none;
	}

	.login-button{
		display: inline;
		order: 4;
		width: 10%;
	}
}