.main-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    
    width: 100vw;
    height: 192px;
    padding: 0px 16px;
    margin-top: 20px;

    background: url("/public/images/banners-ads/banner-castelo-disney.jpeg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.main-banner__carrousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: none;

    background-color: rgba(141, 141, 141, 0.62);
}

.main-banner__carrousel--arrow {
    width: 12px;
    height: 24px;
}

@media(min-width: 480px) {
    .main-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        max-width: 100%;
        height: 272px;
        padding: 0px 32px;

        background: url("/public/images/banners-ads/banner1.webp");
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }

    .main-banner__carrousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        border-radius: 50%;
        border: none;

        background-color: rgba(141, 141, 141, 0.62);
    }

    .main-banner__carrousel--arrow {
        width: 12px;
        height: 24px;
    }
}

@media(min-width: 1024px) {
    .main-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        max-width: 100%;
        height: 352px;
        padding: 0px 32px;

        background: url("/public/images/banners-ads/banner1.webp");
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }

    .main-banner__carrousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;

        border-radius: 50%;
        border: none;

        background-color: rgba(141, 141, 141, 0.62);
    }

    .main-banner__carrousel--arrow {
        width: 16px;
        height: 36px;
    }
}